<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: title}) %>
</head>

<body>
  <%- include('../partials/header', {title: title, user: user}) %>
  <div class="container content">
    <a class="wt" href="/settings/users">Manage Users</a> <br><br>
    <a class="wt" href="/settings/eventTypes">Manage Event Types</a><br><br>
    <a class="wt" href="/settings/roles">Manage Roles</a><br><br>
    <footer class="footer">
      <%- include('../partials/footer') %>
    </footer>
  </div>
  <br>
  <%- include('../partials/scripts') %>
</body>
</html>
