<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: title}) %>
</head>

<body>
  <%- include('../partials/header', {title: title, user: user}) %>
  <div class="container content">
    <a class="wt" href="/settings/addUser">Add New User</a> <br>
    <a class="wt" href="/settings/users">View All Users</a> <br>
    <a class="wt" href="/settings/createEventType">Create New Event Type</a> <br>
    <a class="wt" href="/settings/eventTypes">View All Event Types</a>
    <footer class="footer">
      <%- include('../partials/footer') %>
    </footer>
  </div>
  <br>
  <%- include('../partials/scripts') %>
</body>
</html>
