<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: title}) %>
</head>

<body class="bg-gray">
  <%- include('../partials/header', {title: title}) %>
  <div class="container content">
    <a href="/settings/createEventType">Create New Event Type</a>
    <br>
    <a href="/settings/eventTypes">View All Event Types</a>
    </fieldset>
    <footer class="footer">
      <%- include('../partials/footer') %>
    </footer>
  </div>
  <%- include('../partials/scripts') %>
</body>
</html>