<div class="footer">
    <label id="footer"></label> <br>
    <label id="contact"></label> <a class="email" href="mailto:" id=email></a><br>
</div>
<script type="text/javascript" src="/scripts/elementsConfig.js"></script>
