<div class="footer">
    <footer>Long Island City Community Boathouse &copy; 2020 </footer>
    <footer>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</footer>
</div>
