<div class="footer">
    <label>Long Island City Community Boathouse &copy; 2020 </label> <br>
    <label>Contact information: <a class="email" href="mailto:someone@example.com">someone@example.com</a></label> <br>
    <button class="theme-button" onclick="switchTheme()">Switch Theme</button>
</div>
