<h1 class="header">
	<header class="font-weight-bold">L.I.C. Community Boathouse </header>
	<header>Event Manager</header>
</h1>
<div class="wrapper">
	<nav id="sidebar">
        <ul class="list-unstyled components">
			<li
				<% if(title == "Events" || title == "Create Event" || title == "Edit Event" || title == "Event Detail") { %>
					class="active"
				<% } %>
			><a href="/events">Events</a></li>
			<li
				<% if(title == "All Participants" || title == "CheckIn Participants" || title == "Event Participants") { %>
					class="active"
				<% } %>
			><a href="/participants">Participants</a></li>
			<li
				<% if(title == "Lottery") { %>
					class="active"
				<% } %>
			><a href="/lottery">Lottery</a></li>
			<li
				<% if(title == "Settings") { %>
					class="active"
				<% } %>
			><a href="/settings">Settings</a></li>
			<li
				<% if(title == "Export") { %>
					class="active"
				<% } %>
			><a href="/export">Export</a></li>
			<li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

</div>
