<h1 class="header">
	<header class="font-weight-bold">L.I.C. Community Boathouse </header>
	<header>Event Manager</header>
</h1>
<div class="wrapper">
	<nav id="sidebar">
		<% if(user) { %>
			<img src="<%= user.pictureURL %>" class="img-thumbnail rounded-circle">
			<p> <%= `${user.firstName} ${user.lastName}` %> </p>
		<% } %>
        <ul class="list-unstyled components">
			<li
				<% if(title == "Events" || title == "Create Event" || title == "Edit Event" || title == "Event Detail") { %>
					class="active"
				<% } %>
			><a href="/events">Events</a></li>
			<li
				<% if(title == "All Participants" || title == "CheckIn Participants" || title == "Event Participants" || title == "event.eventName + Check In" || title == "Tie Participant") { %>
					class="active"
				<% } %>
			><a href="/participants">Participants</a></li>
			<li
				<% if(title == "Lottery") { %>
					class="active"
				<% } %>
			>
			<!-- <a href="/lottery">Lottery</a></li>
			<li
				<% if(title == "Settings") { %>
					class="active"
				<% } %>
			> -->
			<a href="/settings">Settings</a></li>
			<li
				<% if(title == "Export") { %>
					class="active"
				<% } %>
			><a href="/export">Export</a></li>
		<% if(typeof user !== "undefined"){ %>
			<li><a href="/auth/logout">Logout</a></li>
		<% } %>
        </ul>
    </nav>
    <button class="theme-button" onclick="switchTheme()">Switch Theme</button>
</div>
