<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/createEvent" method="post" id="eventform">
          <label for="ename">Event Name:</label>
          <input type="text" id="ename" name="eventname" placeholder="Event Name">

          <label for="mname">Event Manager:</label>
          <select name="managername" form="eventform">
            <option value="david">David Matten</option>
            <option value="other">Other</option>
          </select>

          <br>

          <label for="volmin">Volunteer Minimum:</label>
          <input type="text" id="volmin" name="volunteerminimum" placeholder="Volunteer Minimum" required>

          <label for="boaters">Max Boaters:</label>
          <input type="text" id="boaters" name="maxboaters" placeholder="Max Boaters" required>

          <br>

          <label for="stime">Start Time:</label>
          <input type="time" id="stime" name="starttime" placeholder="Start Time" required>

          <label for="etime">End Time:</label>
          <input type="time" id="etime" name="endtime" placeholder="End Time" required>

          <br>

          <label for="skill">Skill Level:</label>
          <select name="skilllevel" form="eventform">
            <option value="novice">Novice</option>
            <option value="intermediate">Intermediate</option>
            <option value="expert">Expert</option>           
          </select>

          <lable for="ptype">Participation Type:</lable>
          <select name="participationtype" id="ptype" form="eventform">
            <option value="public">Public</option>
            <option value="volunteer">Volunteer</option>
            <option value="private">Private</option>
          </select>

          <br>
          
          <input type="submit" value="Create Event">
        </form>
      </fieldset>
    </div>
  </body>
</html>