<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', {title: "Home"}) %>
  </head>
  <body class="bg-gray">
    <%- include('partials/header', {title: "Home", user: user}) %>
    <div class="container content">
      <h3>Project Repository</h3>
      <p>
        <a href="https://github.com/LICCB/event-manager">Github</a>
      </p>
      <h3>Quick Links</h3>
      <p>
        <a class="wt" href="/auth/google">Admin Login</a> <br>
        <a class="wt" href="/events">Events</a> <br>
        <a class="wt" href="/participants">Participants</a> <br>
        <a class="wt" href="/export">Export Data</a> <br>
        <a class="wt" href="/participants/checkin/123e4567-e89b-12d3-a456-556642440000">July Outting Checkin</a> <br>
        <a class="wt" href="/signup">Signup</a> <br>
      </p>
      <footer class="footer">
        <%- include('partials/footer') %>
      </footer>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>
