<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/privateSignup" method="post" id="privateSignupform">
                <h1>Private Events</h1>
                <p>To register for a private event, use the registration link you were provided.</p>
                <p>Selection for Private Invitation events is managed by the agent/liaison who sent the invitation link.
                    They must inform you of the process they will use, and your individual status.</p>
                <label for="eventselec">Private Event Selection:</label>
                <input type="text" id="eventselec" name="eventselection"
                    placeholder="Provided via your pre-filled invitation link. Do not alter.">
                <label for="agent">Agent:</label>
                <input type="text" id="agent" name="agent"
                    placeholder="(Your liaison for this event) From whom did you receive the invitation to this event?">

                <br>

                <div class="reginfo">
                    <label for="regname">Registrant Full Name:</label>
                    <input type="text" id="regname" name="regname" placeholder="Your Full Name Here">

                    <label for="regadult">Over 18?</label>
                    <select name="regadult" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="regswim">Swimmer</label>
                    <select name="regswim" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="regboat">Boating Experience</label>
                    <select name="regboat" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="regcpr">CPR Certification</label>
                    <select name="regcpr" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="regemail">Registrant Email:</label>
                    <input type="text" id="regemail" name="regemail" placeholder="Your Email Here">

                    <label for="regphone">Registrant Phone Number:</label>
                    <input type="text" id="regphone" name="regphone" placeholder="Your Phone Number Here">

                    <label for="regename">Registrant Emergency Contact Name:</label>
                    <input type="text" id="regename" name="regename" placeholder="Emergency Contact Name">

                    <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                    <input type="text" id="regephone" name="regephone" placeholder="Emergency Contact Phone Number">

                    <label for="partysize">Party Size</label>
                    <select name="partysize" form="privateSignupform">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <br>

                <div class="part1">
                    <label for="part1name">Party Memeber 1 Full Name:</label>
                    <input type="text" id="part1name" name="part1name" placeholder="Party Member 1 Full Name Here">

                    <label for="part1adult">Over 18?</label>
                    <select name="part1adult" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part1swim">Swimmer</label>
                    <select name="part1swim" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part1boat">Boating Experience</label>
                    <select name="part1boat" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part1cpr">CPR Certification</label>
                    <select name="part1cpr" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part1email">Participant 1 Email:</label>
                    <input type="text" id="part1email" name="part1email" placeholder="Your Email Here">

                    <label for="part1phone">Participant 1 Number:</label>
                    <input type="text" id="part1phone" name="part1phone" placeholder="Your Phone Number Here">

                    <label for="part1ename">Participant 1 Emergency Contact Name:</label>
                    <input type="text" id="part1ename" name="part1ename" placeholder="Emergency Contact Name">

                    <label for="part1ephone">Participant 1 Emergency Contact Phone Number:</label>
                    <input type="text" id="part1ephone" name="part1ephone" placeholder="Emergency Contact Phone Number">
                </div>

                <br>

                <div class="part2">
                    <label for="part2name">Party Memeber 2 Full Name:</label>
                    <input type="text" id="part2name" name="part2name" placeholder="Party Member 2 Full Name Here">

                    <label for="part2adult">Over 18?</label>
                    <select name="part2adult" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part2swim">Swimmer</label>
                    <select name="part2swim" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part2boat">Boating Experience</label>
                    <select name="part2boat" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part2cpr">CPR Certification</label>
                    <select name="part2cpr" form="privateSignupform">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label for="part2email">Participant 2 Email:</label>
                    <input type="text" id="part2email" name="part2email" placeholder="Your Email Here">

                    <label for="part2phone">Participant 2 Number:</label>
                    <input type="text" id="part1phone" name="part2phone" placeholder="Your Phone Number Here">

                    <label for="part2ename">Participant 2 Emergency Contact Name:</label>
                    <input type="text" id="part2ename" name="part2ename" placeholder="Emergency Contact Name">

                    <label for="part2ephone">Participant 2 Emergency Contact Phone Number:</label>
                    <input type="text" id="part2ephone" name="part2ephone" placeholder="Emergency Contact Phone Number">
                </div>

                <br>

                <div class="discinfo">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" placeholder="Zip Code">

                    <label for="ediscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="privateSignupform">
                        <option value="callendar">LICCB Calendar</option>
                        <option value="subscriber">LICCB subscriber Newsletter or direct email</option>
                        <option value="blog">LICCB Web Site Blog</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="privateSignupform">
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="water">Saw us on the Water</option>
                        <option value="walk">Just walking by</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <br>

                <input type="submit" value="Submit Registration">
            </form>
        </fieldset>
    </div>
</body>

</html>