div {
    text-align: center;
}
input[type=text], select, input[type=time] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  * {box-sizing:border-box}
/*needs clean up in header.ejs*/
.header {
  color: #082B47;
  text-align: left;
  position: relative;
  padding-left: 500px;
  padding-top: 50px;
  font-family: Verdana, Arial, sans-serif;
  background-image: url("/images/img1.png");
  background-position: 20% 50%;
  background-repeat: no-repeat;
  height: 230px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.left {
  width:50%;
  height: 40%;
  text-align: right;
  float: left;
  padding-right: 50px;
  background-color: #fff; /*gainsboro*/
}

.right {
  width:50%;
  height: 40%;
  float: right;
  padding-left: 50px;
  text-align: left;
  background-color: #fff; /*gainsboro*/
}

.wrapper {
  width: 15%;
  align-items: stretch;
  float: left;
  height: 100%;
  margin: 0em;
  padding: 0%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #082B47; /*212529*/
  color: #fff;
  transition: all 0.3s;
}

.content {
  max-width: 85%;
  float: right;
  table-layout: fixed;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 0px;
  background-color: #fff;/*gainsboro*/
}
.table {
  width: 100%;
  padding: 0%;
  margin: 0em;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
    background: #082B47; /*212529*/
}

#sidebar ul li {
  background: #082B47; /*212529*/
}
#sidebar ul.components {m
    padding: 20px 0;
    padding-top: 40%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
  color: #082B47; /*fff*/
  background-color: #fff6c3;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #082B47;
    background-color: #fff6c3; /*6c757d*/
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
/* #sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
} */

.button-left {
  float: left;
  color: #082b47;
  padding: 5px;
  margin: 5px;
  background-color: #fff6c3;
  border-color: #082b47;
  border-radius: 4px;
}

.button {
  color: #082b47;
  padding: 5px;
  margin: 5px;
  background-color: #fff6c3;
  border-color: #082b47;
  border-radius: 4px;
}

.bg-gray {
  background-color: #fff; /*gainsboro*/
}

.center {
  background-color: #fff; /*gainsboro*/
  width: 100%;
}

.container {
  background-color: #fff; /*gainsboro*/
}

footer {
  position: relative;
  text-align: center;
  color: #082b47;
  font-family: Verdana, Arial, sans-serif;
  /*background-color: #fff;*/
  /*left: 0;
  bottom: 0;
  width: 100%;*/
  /* background-color: red; */
  /* color: white; */
}
