html {
  min-height: 100%;
}

input[type=text], select, input[type=time] {
    width: 30%;
    padding: 10px 10px;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    color: #fff !important;
  }

  * {box-sizing:border-box}
/*needs clean up in header.ejs*/

/*dark header*/
.header {
  width: 100%;
  color: #fff;
  text-align: left;
  position: relative;
  padding-left: 33%;
  padding-top: 40px;
  font-family: Verdana, Arial, sans-serif;
  background-color: transparent;
  background-image: url("/images/img1.png");
  background-size: 180px 180px;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  height: 190px;
}

/*Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative; /*absolute;*/
  padding-top: 20px;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  transition: 0.5s ease;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #fff;
  color: #fff !important;
}

/* Caption text */
.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.left {
  width: 50%;
  height: 40%;
  text-align: right;
  float: left;
  padding-right: 50px;
  background-color: transparent; /*gainsboro*/
  color: #fff;
}

.right {
  width: 50%;
  height: 40%;
  float: right;
  padding-left: 50px;
  text-align: left;
  background-color: transparent; /*gainsboro*/
  color: #fff;
}

.wrapper {
  width: 15%;
  align-items: stretch;
  float: left;
  height: 100%;
  margin: 0em;
  padding: 0%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /*background: #082b47;*/
  color: #fff;
  transition: all 0.3s;
  border-radius: 0px;
  border-right: 2px solid #082b47;
  background-image: linear-gradient(#0c306a, #0c306a, #082b47, #082b47, #082b47);
  background-repeat: no-repeat;
}

.content {
  max-width: 85%;
  float: right;
  table-layout: fixed;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 0px;
  background-color: transparent;
  color: #fff;
}

.table {
  width: 100%;
  position: relative;
  padding-right: 5px;
  background-color: transparent;
  color: #fff;
}

.table tr {
  background-image: repeating-linear-gradient(#eef2fd, #a7bff5, #a7bff5);
  color: #000;
}

.table td {
    border: 1px solid #fff;
}

.table th {
  text-align: center;
  background-color: #0c306a;
  color: #fff;
  border: 1px solid #fff;
}

.table tr:hover {
  background-image: linear-gradient(#fff,  #fff6c3, #fff6c3);
}

body {
    font-family: Verdana, Arial, sans-serif;
    /*background: #082b47;*/
    background-image: linear-gradient(#0c306a, #082b47, #082b47);
    background-repeat: repeat-x;
}

label {
  color: #fff;
}

div {
  background-color: transparent;
}

p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    color: #000;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
    background: transparent; /*212529*/
}

#sidebar ul li {
  background: transparent; /*212529*/
}
#sidebar ul.components {
    padding: 20px 0;
    padding-top: 40%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
  color: #082B47; /*fff*/
  background-color: #fff9d7;
  border-left: 15px solid #082B47;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #082B47;
    background-color: #fff6c3; /*6c757d*/
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.button-left {
  float: left;
  color: #082b47;
  padding: 6px;
  margin: 5px;
  background-color: #fff6c3;
  border-radius: 4px;
}

.button-left:hover {
  background-color: #fff9d7;
}

/*buttons inside the events table*/
.tb-button {
  color: #fff6c3;
  font-weight: lighter;
  padding: 6px;
  margin: 5px;
  background-color: #082b47;
  border-radius: 5px;
}

.tb-button:hover {
  background-color: #0e387c;
  color: #fff6c3;
}

.button {
  color: #082b47;
  padding: 5px;
  margin: 10px;
  background-color: #fff6c3;
  border: 1px solid #082b47;
  border-radius: 4px;
}

.button:hover {
  background-color: #fff9d7;
}

.center {
  background-color: transparent; /*gainsboro*/
  width: 100%;
}

.container {
  background-color: transparent; /*gainsboro*/
}

.signup {
  max-width: 85%;
  float: center;
  table-layout: fixed;
  color: #fff;
}

::placeholder {
  font-size: small;
  color: #fff;
}

/*Modal for Participants Comments*/
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}



.footer {
  padding-top: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  color: #cbd9f9;
  background-color: transparent;
  font-family: Verdana, Arial, sans-serif;
}
