<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Event Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container">
      <div class="note">
      <h1 class="header">Public Event Registration</h1>
      <p> <b>NOTE:</b> Events displayed on the public calendars will not be available for registration until their
          registration windows officially open (typically a few weeks ahead of the event date). If you don't
          see the event you seek available for selection, check back at a later date.</p>

      <p>For trips open to the public, Parties are selected by lottery when demand is greater than
          availability (this is typical).
          Selected registrants will receive email notification before the start of the trip. The first round
          of selections will usually take place 3 to 2 days ahead of the trip. A final round of selections are
          usually made the day before, along with the Declines.</p>
        </div>
      <br>


        <fieldset class="fieldset">
            <form action=<%= `/eventSignup/${eventID}/${volunteerStatus}` %> method="post" id="eventSignupForm">
                <%if(volunteerStatus == 1) { %>
                  <!--  <h2>Volunteer Information</h2> -->
                    <div style="text-align:right; padding-right:25%;" name = "Volunteer Info">
                      <h2>Volunteer Information</h2>
                        <label for="priorVolunteer">Have you been a volunteer before?</label>
                        <select name="priorVolunteer" form="eventSignupForm" required>
                            <option selected disabled hidden style='display: none' value=''></option>
                            <option value=0>No</option>
                            <option value=1>Yes</option>
                        </select>
                        <br>

                        <label for="roleFamiliarity">Are you familiar with the role?</label>
                        <select name="roleFamiliarity" form="eventSignupForm" required>
                            <option selected disabled hidden style='display: none' value=''></option>
                            <option value=0>No</option>
                            <option value=1>Yes</option>
                        </select>
                    </div>

                <% } %>

                <div style="text-align:right; padding-right:25%;" class="reginfo">
                    <h2>Registrant Information</h2>
                    <label for="regfirstname">Registrant First Name:</label>
                    <input type="text" id="regfirstname" name="regfirstname" class = "fname "placeholder="Your First Name Here" required>
                    <br>

                    <label for="reglastname">Registrant Last Name:</label>
                    <input type="text" id="reglastname" name="reglastname" class = "lname" placeholder="Your Last Name Here" required>
                    <br>

                    <label for="regemail">Registrant Email:</label>
                    <input type="text" id="regemail" name="regemail" class = "email" placeholder="Your Email Here" required>
                    <br>

                    <label for="regphone">Registrant Phone Number:</label>
                    <input type="text" id="regphone" name="regphone" class = "phone" placeholder="Your Phone Number Here" required>
                    <br>

                    <label for="regename">Registrant Emergency Contact Name:</label>
                    <input type="text" id="regename" name="regename" class = "name" placeholder="Emergency Contact Name" required>
                    <br>

                    <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                    <input type="text" id="regephone" name="regephone" class = "phone "placeholder="Emergency Contact Phone Number" required>
                    <br>

                    <label for="regadult">Over 18?</label>
                    <select name="regadult" form="eventSignupForm" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                    <br>

                    <label for="regswim">Swimmer</label>
                    <div2 class = "tooltip"><img src="/images/qmark.png" height="15px" width="15px">
                      <span class="tooltiptext">If you fall into water, will you be able to swim to the shore by yourself?</span>
                    </div2>
                    <select name="regswim" form="eventSignupForm" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                    <br>

                    <label for="regboat">Boating Experience</label>
                    <div2 class = "tooltip"><img src="/images/qmark.png" height="15px" width="15px">
                      <span class="tooltiptext">Have you ever been on a boat before?</span>
                    </div2>
                    <select name="regboat" form="eventSignupForm" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                    <br>

                    <label for="regcpr">CPR Certification</label>
                    <div2 class = "tooltip"><img src="/images/qmark.png" height="15px" width="15px">
                      <span class="tooltiptext">Are you certified to perform CPR? Note: This will not affect your chances of being selected for a trip.</span>
                    </div2>
                    <select name="regcpr" form="eventSignupForm" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
              </div>
                <br>

                <!--Insert Dynamic Fields-->
                <!--Insert Event Type Specific Fields-->

                <div>
                    <div class="reginfo">
                      <label for="partysize"></label>
                      <input type="button" value="Add a Party Member" class="button" id="addpart" />
                    </div>
                    <br>

                    <div id="partymembers" form="PublicSignup"> </div> <br>
                    <input id="remove" type="button" class="button" value="Remove Last Party Member"/>
                </div>
                <br>

                <!--Event Discovery fields-->
                <div style="text-align:right; padding-right:25%;" class="discinfo">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" class ="zip" placeholder="Zip Code" required>
                    <br>

                    <label for="eventdiscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="eventSignupForm" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="callendar">LICCB Calendar</option>
                        <option value="subscriber">LICCB subscriber Newsletter or direct email</option>
                        <option value="blog">LICCB Web Site Blog</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>
                    <br>

                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="eventSignupForm" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="water">Saw us on the Water</option>
                        <option value="walk">Just walking by</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>
                    <br>

                    <label for="notes">Additional Notes:</label>
                    <textarea name="notes" form="eventSignupForm"></textarea>
                </div>
                <br>

                <input type="submit" value="Submit Registration">

            </form>
        </fieldset>
    </div>
    <br>
    <footer style="color:#eef4fd;" class="footer">
        <%- include('../partials/footer') %>
      </footer>
    </div>
    <br>
</body>


<script src="/scripts/addParticipant.js"></script>


</html>
