<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/signup" method="post" id="privateSignupform">
                <h1>Private Events</h1>
                <p>Selection for Private Invitation events is managed by the agent/liaison who sent the invitation link.
                    They must inform you of the process they will use, and your individual status.</p>

                <br>

                <!--Most likely will not have a "general" private event signup page. Instead a link will direct to this page with eventID already known from url-->
                <label for="ename">Event:</label>
                    <select name="eventID" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''>Select an event</option>
                        <% for(i = 0; i < events.length; i++) { %>
                            <option value=<%= events[i].eventID %>> <%= events[i].eventName%> </option>
                          <% } %>
                    </select>

                <div class="reginfo">
                    <label for="regfirstname">Registrant First Name:</label>
                    <input type="text" id="regfirstname" name="regfirstname" class = "fname" placeholder="Your First Name Here" required>
                    
                    <label for="reglastname">Registrant Last Name:</label>
                    <input type="text" id="reglastname" name="reglastname" class = "lname" placeholder="Your Last Name Here" required>

                    <label for="regadult">Over 18?</label>
                    <select name="regadult" form="privateSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regswim">Swimmer</label>
                    <select name="regswim" form="privateSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regboat">Boating Experience</label>
                    <select name="regboat" form="privateSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regcpr">CPR Certification</label>
                    <select name="regcpr" form="privateSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>

                    <label for="regemail">Registrant Email:</label>
                    <input type="text" id="regemail" name="regemail" class = "email" placeholder="Your Email Here" required>

                    <label for="regphone">Registrant Phone Number:</label>
                    <input type="text" id="regphone" name="regphone" class = "phone" placeholder="Your Phone Number Here" required>

                    <label for="regename">Registrant Emergency Contact Name:</label>
                    <input type="text" id="regename" name="regename" class = "name" placeholder="Emergency Contact Name" required>

                    <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                    <input type="text" id="regephone" name="regephone" class = "phone" placeholder="Emergency Contact Phone Number" required>

                    <label for="partysize">Add Party Member</label>
                    <input type="button" value="Add a Party Member" class="addpart" id="addpart" />
                </div>

                <div id="partymembers" form="privateSignup">

                </div>

                <br>

                <input id = "remove" type = "button" class = "button" value="Remove Last Party Member"/>
                <div class="discinfo">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" class = "zip" placeholder="Zip Code" required>

                    <label for="ediscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="privateSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="callendar">LICCB Calendar</option>
                        <option value="subscriber">LICCB subscriber Newsletter or direct email</option>
                        <option value="blog">LICCB Web Site Blog</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="privateSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="water">Saw us on the Water</option>
                        <option value="walk">Just walking by</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="notes">Additional Notes:</label>
                    <textarea name="notes" form="publicSignupform"></textarea>

                </div>

                <br>

                <input type="submit" value="Submit Registration">
            </form>
        </fieldset>
    </div>
</body>

<script src="/scripts/addParticipant.js"></script>

</html>