<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/publicSignup" method="post" id="publicSignupform">
                <h1>Public Event</h1>
                <p>Events displayed on the public calendars will not be available for registration until their
                    registration windows officially open (typically a few weeks ahead of the event date). If you don't
                    see the event you seek available for selection, check back at a later date.</p>

                <p>For trips open to the public, Parties are selected by lottery when demand is greater than
                    availability (this is typical).
                    Selected registrants will receive email notification before the start of the trip. The first round
                    of selections will usually take place 3 to 2 days ahead of the trip. A final round of selections are
                    usually made the day before, along with the Declines.</p>
                <label for="ename">Event:</label>
                <select name="eventname" form="publicSignupform" required>
                    <option value='' selected="selected" disabled hidden style='display: none' >Select an event</option>
                    <% for(i = 0; i < events.length; i++) { %>
                        <option value=<%= events[i].eventID %>> <%= events[i].eventName%> </option>
                      <% } %>
                </select>

                <br>

                <div class="reginfo">
                    <label for="regname">Registrant Full Name:</label>
                    <input type="text" id="regname" name="regname" placeholder="Your Full Name Here" required>

                    <label for="regadult">Over 18?</label>
                    <select name="regadult" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>

                    </select>

                    <label for="regswim">Swimmer</label>
                    <div class="icon"><img src="/images/qmark.png" class="icon">
                      <span class="tooltiptext">If you fall into water, will you be able to swim to the shore by yourself?</span>
                    </div>
                    <select name="regswim" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="regboat">Boating Experience</label>
                    <div class="icon"> <img src="/images/qmark.png" class="icon">
                      <span class="tooltiptext">Have you ever been on a boat before?</span>
                    </div>
                    <select name="regboat" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="regcpr">CPR Certification</label>
                    <div class="icon"><img src="/images/qmark.png" class="icon">
                      <span class="tooltiptext">Are you certified to perform CPR? Note: This will not affect your chances of being selected for a trip.</span>
                    </div>
                    <select name="regcpr" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <!--All of this must be validated to be correct email and phone #-->
                    <label for="regemail">Registrant Email:</label>
                    <input type="text" id="regemail" name="regemail" placeholder="Your Email Here" required>

                    <label for="regphone">Registrant Phone Number:</label>
                    <input type="text" id="regphone" name="regphone" placeholder="Your Phone Number Here" required>

                    <label for="regename">Registrant Emergency Contact Name:</label>
                    <input type="text" id="regename" name="regename" placeholder="Emergency Contact Name" required>

                    <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                    <input type="text" id="regephone" name="regephone" placeholder="Emergency Contact Phone Number" required>

                    <label for="partysize">Party Size</label>
                    <select name="partysize" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <br>

                    <div class="part1">
                    <label for="part1name">Party Memeber 1 Full Name:</label>
                    <input type="text" id="part1name" name="part1name" placeholder="Party Member 1 Full Name Here">

                    <label for="part1adult">Over 18?</label>
                    <select name="part1adult" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part1swim">Swimmer</label>
                    <select name="part1swim" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part1boat">Boating Experience</label>
                    <select name="part1boat" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part1cpr">CPR Certification</label>
                    <select name="part1cpr" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part1email">Participant 1 Email:</label>
                    <input type="text" id="part1email" name="part1email" placeholder="Your Email Here">

                    <label for="part1phone">Participant 1 Number:</label>
                    <input type="text" id="part1phone" name="part1phone" placeholder="Your Phone Number Here">

                    <label for="part1ename">Participant 1 Emergency Contact Name:</label>
                    <input type="text" id="part1ename" name="part1ename" placeholder="Emergency Contact Name">

                    <label for="part1ephone">Participant 1 Emergency Contact Phone Number:</label>
                    <input type="text" id="part1ephone" name="part1ephone" placeholder="Emergency Contact Phone Number">
                </div>

                <br>

                <div class="part2">
                    <label for="part2name">Party Memeber 2 Full Name:</label>
                    <input type="text" id="part2name" name="part2name" placeholder="Party Member 2 Full Name Here">

                    <label for="part2adult">Over 18?</label>
                    <select name="part2adult" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part2swim">Swimmer</label>
                    <select name="part2swim" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part2boat">Boating Experience</label>
                    <select name="part2boat" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part2cpr">CPR Certification</label>
                    <select name="part2cpr" form="publicSignupform">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>

                    <label for="part2email">Participant 2 Email:</label>
                    <input type="text" id="part2email" name="part2email" placeholder="Your Email Here">

                    <label for="part2phone">Participant 2 Number:</label>
                    <input type="text" id="part1phone" name="part2phone" placeholder="Your Phone Number Here">

                    <label for="part2ename">Participant 2 Emergency Contact Name:</label>
                    <input type="text" id="part2ename" name="part2ename" placeholder="Emergency Contact Name">

                    <label for="part2ephone">Participant 2 Emergency Contact Phone Number:</label>
                    <input type="text" id="part2ephone" name="part2ephone" placeholder="Emergency Contact Phone Number">
                </div>

                <br>

                <div class="discinfo">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" placeholder="Zip Code" required>

                    <label for="ediscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="callendar">LICCB Calendar</option>
                        <option value="subscriber">LICCB subscriber Newsletter or direct email</option>
                        <option value="blog">LICCB Web Site Blog</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="publicSignupform" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="water">Saw us on the Water</option>
                        <option value="walk">Just walking by</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="notes">Additional Notes:</label>
                    <textarea name="notes" form="publicSignupform">
                      Add any additional notes here.
                    </textarea>
                </div>

                <br>

                <input type="submit" value="Submit Registration">
            </form>
        </fieldset>
    </div>
</body>

</html>
