<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Public Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <%- include('../partials/scripts') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script> -->
    <%- include('../partials/head') %>
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/signup" method="post" id="publicSignupform">
                <h1>Public Event</h1>
                <p>Events displayed on the public calendars will not be available for registration until their
                    registration windows officially open (typically a few weeks ahead of the event date). If you don't
                    see the event you seek available for selection, check back at a later date.</p>

                <p>For trips open to the public, Parties are selected by lottery when demand is greater than
                    availability (this is typical).
                    Selected registrants will receive email notification before the start of the trip. The first round
                    of selections will usually take place 3 to 2 days ahead of the trip. A final round of selections are
                    usually made the day before, along with the Declines.</p>
                <label for="ename">Event:</label>
                <select id="eventID" name="eventID" form="publicSignupform">
                    <option value='' selected="selected" disabled hidden style='display: none' >Select an event</option>
                    <% for(i = 0; i < events.length; i++) { %>
                        <% if(events[i].eventStatus == "Registration Open" && !events[i].privateEvent) {%>
                            <option value=<%= events[i].eventID %>> <%= events[i].eventName%> </option>
                        <% } %>
                      <% } %>
                </select>

                <br>

                <div class="reginfo">
                    <label for="regfirstname">Registrant First Name:</label>
                    <input type="text" id="regfirstname" name="regfirstname" class="name" placeholder="Your First Name Here">
                    
                    <label for="reglastname">Registrant Last Name:</label>
                    <input type="text" id="reglastname" name="reglastname" class="name" placeholder="Your Last Name Here">

                    <label for="regadult">Over 18?</label>
                    <select name="regadult" form="publicSignupform" class="select">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regswim">Swimmer</label>
                    <select name="regswim" form="publicSignupform" class="select">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regboat">Boating Experience</label>
                    <select name="regboat" form="publicSignupform" class="select">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regcpr">CPR Certification</label>
                    <select name="regcpr" form="publicSignupform" class="select">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <!--All of this must be validated to be correct email and phone #-->
                    <label for="regemail">Registrant Email:</label>
                    <input type="text" id="regemail" name="regemail" class="email" placeholder="Your Email Here">

                    <label for="regphone">Registrant Phone Number:</label>
                    <input type="text" id="regphone" name="regphone" class="phone" placeholder="Your Phone Number Here">

                    <label for="regename">Registrant Emergency Contact Name:</label>
                    <input type="text" id="regename" name="regename" class="name" placeholder="Emergency Contact Name">

                    <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                    <input type="text" id="regephone" name="regephone" class="phone" placeholder="Emergency Contact Phone Number">

                    <label for="partysize">Add Party Member</label>
                    <input type="button" value="Add a Party Member" class="button" id="addpart" />
                </div>

                <div id="partymembers" form="PublicSignup">
                
                </div>

                <br>
                <input id = "remove" type = "button" class = "button" value="Remove Last Party Member"/>
                <div class="discinfo">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" class ="zip" placeholder="Zip Code">
    
                    <label for="eventdiscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="publicSignupform" class="select">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="calendar">LICCB Calendar</option>
                        <option value="subscriber">LICCB subscriber Newsletter or direct email</option>
                        <option value="blog">LICCB Web Site Blog</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>
    
                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="publicSignupform" class="select">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="water">Saw us on the Water</option>
                        <option value="walk">Just walking by</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="notes">Additional Notes:</label>
                    <textarea name="notes" form="publicSignupform"></textarea>
                </div>

                <br>
                <input id="submitForm" type="submit" value="Submit Registration">
            </form>
        </fieldset>
    </div>
</body>

<script src="/scripts/addParticipant.js"></script>
<script src="/scripts/validator.js"></script>
</html>