<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/signup" method="post" id="volunteerSignup">
                <h1>Volunteer Events</h1>
                <p>Events displayed on the public calendars will not be available for registration until their
                    registration windows officially open (typically a few weeks ahead of the event date). If you don't
                    see the event you seek available for selection, check back at a later date.</p>
                <p>For trips open to the public, Parties (sometimes even volunteers) are selected by lottery when demand
                    is greater than availability (this is typical).
                    Selected registrants will receive email notification before the start of the trip. The first round
                    of selections will usually take place 3 to 2 days ahead of the trip. A final round of selections are
                    usually made the day before, along with the Declines.</p>
                <p>There is no "selection" process for Walkup events. By registering for a Walkup event, Volunteers are
                    declaring that they will be present to assist at some point during the event (or prior to the public
                    start to help setup). The registration list is used to determine whether there will be sufficient
                    staffing for an event, so those volunteers are expected to appear absent further communication.</p>
                <p>Note that there is no requirement that a volunteer be present for the entirety of a walkup event.
                    Partial shift contributions are wholely welcomed. Please register all the same, and note your
                    specific availability in the form comments at the end.</p>

                <label for="ename">Event:</label>
                <select name="eventID" form="volunteerSignup">
                    <option selected disabled hidden style='display: none' value=''>Select an event</option>
                    <% for(i = 0; i < events.length; i++) { %>
                        <% if("Registration Open" == events[i].eventStatus) {%>
                            <option value=<%= events[i].eventID %>> <%= events[i].eventName%> </option>
                        <% } %>
                      <% } %>
                </select>
                <div class="reginfo">
                    <label for="priorvol">Prior Volunteer:</label>
                    <select name="priorvol" form="volunteerSignup">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="rolefam">Role Familiarity:</label>
                    <select name="rolefam" form="volunteerSignup">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <br>

                    <label for="regfirstname">Registrant First Name:</label>
                    <input type="text" id="regfirstname" name="regfirstname" class = "fname" placeholder="Your First Name Here" required>
                    
                    <label for="reglastname">Registrant Last Name:</label>
                    <input type="text" id="reglastname" name="reglastname" class = "lname" placeholder="Your Last Name Here" required>

                    <label for="regadult">Over 18?</label>
                    <select name="regadult" form="volunteerSignup">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regswim">Swimmer</label>
                    <select name="regswim" form="volunteerSignup">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regboat">Boating Experience</label>
                    <select name="regboat" form="volunteerSignup">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regcpr">CPR Certification</label>
                    <select name="regcpr" form="volunteerSignup">
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>

                    <label for="regemail">Registrant Email:</label>
                    <input type="text" id="regemail" name="regemail" class = "email" placeholder="Your Email Here">

                    <label for="regphone">Registrant Phone Number:</label>
                    <input type="text" id="regphone" name="regphone" class = "phone" placeholder="Your Phone Number Here">

                    <label for="regename">Registrant Emergency Contact Name:</label>
                    <input type="text" id="regename" name="regename" class = "name" placeholder="Emergency Contact Name">

                    <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                    <input type="text" id="regephone" name="regephone" class = "phone" placeholder="Emergency Contact Phone Number">

                    <label for="partysize">Add Party Member</label>
                    <input type="button" value="Add a Party Member" class="addpart" id="addpart" />
                </div>

                <div id="partymembers" form="volunteerSignup">

                </div>

                <br>

                <input id = "remove" type = "button" class = "button" value="Remove Last Party Member"/>
                <div class="discinfo">
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" class = "zip" placeholder="Zip Code" required>

                    <label for="ediscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="volunteerSignup" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="callendar">LICCB Calendar</option>
                        <option value="subscriber">LICCB subscriber Newsletter or direct email</option>
                        <option value="blog">LICCB Web Site Blog</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="volunteerSignup" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="twitter">Twitter</option>
                        <option value="nextdoor">Next Door</option>
                        <option value="fam">Family or Friend</option>
                        <option value="vol">Volunteer Referral</option>
                        <option value="press">Press Publication</option>
                        <option value="web">Web Search</option>
                        <option value="flier">Printed Flier</option>
                        <option value="partner">Partner Organization</option>
                        <option value="water">Saw us on the Water</option>
                        <option value="walk">Just walking by</option>
                        <option value="meeting">Civic Meeting</option>
                        <option value="other">Other</option>
                    </select>

                    <label for="notes">Additional Notes:</label>
                    <textarea name="notes" form="volunteerSignup"></textarea>

                </div>

                <br>

                <input type="submit" value="Submit Registration">
            </form>
        </fieldset>
    </div>
</body>

<script src="/scripts/addParticipant.js"></script>

</html>