<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: title}) %>
</head>

<body class="bg-gray">
  <div class="content">
    <p> TODO: Edit Registration </p>
    <%= registration %>
    <footer class="footer">
      <%- include('../partials/footer') %>
    </footer>
  </div>
  <br>
  <%- include('../partials/scripts') %>
</body>

</html>