<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: title}) %>
</head>

<body class="bg-gray">
    <%- include('../partials/header', {title: title}) %>
    <div class="container content">

        <fieldset>
            <form action="lottery/123e4567-e89b-12d3-a456-556642440000/" method="GET" id="runSelection">
                <label for="runSelection">Choose Event for Lottery:</label>
                <select id="runSelection" name="runSelection">
                    <optgroup>
                        <% for(i = 0; i < event.length; i++){ %>
                            <tr>
                              <% var vals = Object.values(event[i]) %> 
                              <% for(j = 0; j < vals.length; j++){ %>
                                 
                                <option value= "<%=  vals[j] %>" <%=  vals[j] %>   </option>
                              <% } %>
                            </tr>
                          <% } %>
                    </optgroup>
                </select>
                <button class="btn btn-dark" id="runSelection" type="submit" value="Export">Run Lottery</button>
            </form>
        </fieldset>
    </div>





</body>

</html>